n8n_migration/workflow_opener.json
{
  "name": "SantiFS - File Opener",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "open",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 300],
      "webhookId": "santifs-opener"
    },
    {
      "parameters": {
        "command": "=start \"\" \"{{$json.query.f}}\""
      },
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "content": "<html><script>window.close();</script><body>Archivo abierto...</body></html>",
        "contentType": "text/html"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
