n8n_migration/workflow_full_sync.json
{
  "name": "SantiFS - Full Sync (One-Shot)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "YOUR_DATABASE_ID_HERE",
        "simple": false,
        "returnAll": true
      },
      "name": "Get Notion Pages",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "command": "find /data -type f -not -path '*/.*' -not -path '*/node_modules/*' > /home/node/filelist.txt"
      },
      "name": "List Local Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 400],
      "notes": "Escribe en archivo para evitar error de Buffer"
    },
    {
      "parameters": {
        "filePath": "/home/node/filelist.txt",
        "dataPropertyName": "data"
      },
      "name": "Read File List",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [600, 400]
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Local Files from Binary\n// n8n stores binary as base64 in .data property\ntry {\n  const binaryItem = $items(\"Read File List\")[0].binary.data;\n  const rawOutput = Buffer.from(binaryItem.data, 'base64').toString('utf8');\n\n  const localFiles = rawOutput.split('\\n')\n    .map(line => line.trim())\n    .filter(line => line.length > 0)\n    .map(path => {\n        return {\n            path: path,\n            name: path.split('/').pop()\n        };\n    });\n\n  // Parse Notion Pages\n  const notionPages = $items(\"Get Notion Pages\");\n  const notionMap = new Map();\n\n  notionPages.forEach(item => {\n    const props = item.json.properties;\n    const relId = props.RelativeID?.rich_text?.[0]?.plain_text;\n    if (relId) notionMap.set(relId, item.json.id);\n  });\n\n  // Compare\n  const results = [];\n  const WATCH_DIR = '/data'; // Adjust based on mount\n\n  // 1. Check Local Files (Create or Update)\n  const localIds = new Set();\n\n  localFiles.forEach(file => {\n    // Calculate Relative ID\n    // Assuming path starts with /data\n    let relId = file.path;\n    if (relId.startsWith(WATCH_DIR)) {\n        relId = relId.slice(WATCH_DIR.length);\n    }\n    if (relId.startsWith('/')) relId = relId.slice(1);\n    \n    localIds.add(relId);\n    \n    const action = notionMap.has(relId) ? 'update' : 'create';\n    const pageId = notionMap.get(relId);\n    \n    results.push({\n      json: {\n        action,\n        filename: file.name,\n        relativePath: relId,\n        pageId,\n        magicLink: 'file://' + file.path\n      }\n    });\n  });\n\n  // 2. Check Missing (Delete)\n  notionMap.forEach((pageId, relId) => {\n    if (!localIds.has(relId)) {\n      results.push({\n        json: {\n          action: 'delete',\n          relativePath: relId,\n          pageId\n        }\n      });\n    }\n  });\n\n  return results;\n} catch (error) {\n  return [{ json: { error: error.message } }];\n}"
      },
      "name": "Compare Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.action}}",
        "rules": {
          "rules": [
            {
              "value2": "create",
              "output": 0
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "YOUR_DATABASE_ID_HERE",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$json.filename}}"
            },
            {
              "key": "RelativeID|rich_text",
              "textContent": "={{$json.relativePath}}"
            },
            {
              "key": "MagicLink|url",
              "url": "={{$json.magicLink}}"
            }
          ]
        }
      },
      "name": "Create Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "update",
        "pageId": "={{$json.pageId}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$json.filename}}"
            },
            {
              "key": "MagicLink|url",
              "url": "={{$json.magicLink}}"
            }
          ]
        }
      },
      "name": "Update Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "archive",
        "pageId": "={{$json.pageId}}"
      },
      "name": "Archive Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1350, 500]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Notion Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Local Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Pages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Local Files": {
      "main": [
        [
          {
            "node": "Read File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File List": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Compare Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Logic": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
