n8n_migration/workflow_full_sync.json
{
  "name": "SantiFS - Full Sync (One-Shot)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "YOUR_DATABASE_ID_HERE",
        "simple": false,
        "returnAll": true
      },
      "name": "Get Notion Pages",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "command": "find /data -type f -not -path '*/.*' -printf '{\"path\":\"%p\",\"name\":\"%f\",\"size\":%s},'"
      },
      "name": "List Local Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 400],
      "notes": "Si usas Windows nativo, cambia este comando por PowerShell: Get-ChildItem ... | ConvertTo-Json"
    },
    {
      "parameters": {
        "jsCode": "// Parse Local Files\n// The command returns a string with trailing comma, we fix it to be valid JSON array\nlet rawOutput = $items(\"List Local Files\")[0].json.stdout.trim();\nif (rawOutput.endsWith(',')) rawOutput = rawOutput.slice(0, -1);\nconst localFiles = JSON.parse(`[${rawOutput}]`);\n\n// Parse Notion Pages\nconst notionPages = $items(\"Get Notion Pages\");\nconst notionMap = new Map();\n\nnotionPages.forEach(item => {\n  const props = item.json.properties;\n  const relId = props.RelativeID?.rich_text?.[0]?.plain_text;\n  if (relId) notionMap.set(relId, item.json.id);\n});\n\n// Compare\nconst results = [];\nconst WATCH_DIR = '/data'; // Adjust based on mount\n\n// 1. Check Local Files (Create or Update)\nconst localIds = new Set();\n\nlocalFiles.forEach(file => {\n  // Calculate Relative ID\n  // Assuming path starts with /data\n  let relId = file.path;\n  if (relId.startsWith(WATCH_DIR)) {\n      relId = relId.slice(WATCH_DIR.length);\n  }\n  if (relId.startsWith('/')) relId = relId.slice(1);\n  \n  localIds.add(relId);\n  \n  const action = notionMap.has(relId) ? 'update' : 'create';\n  const pageId = notionMap.get(relId);\n  \n  results.push({\n    json: {\n      action,\n      filename: file.name,\n      relativePath: relId,\n      pageId,\n      magicLink: 'file://' + file.path\n    }\n  });\n});\n\n// 2. Check Missing (Delete)\nnotionMap.forEach((pageId, relId) => {\n  if (!localIds.has(relId)) {\n    results.push({\n      json: {\n        action: 'delete',\n        relativePath: relId,\n        pageId\n      }\n    });\n  }\n});\n\nreturn results;"
      },
      "name": "Compare Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.action}}",
        "rules": {
          "rules": [
            {
              "value2": "create",
              "output": 0
            },
            {
              "value2": "update",
              "output": 1
            },
            {
              "value2": "delete",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "YOUR_DATABASE_ID_HERE",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$json.filename}}"
            },
            {
              "key": "RelativeID|rich_text",
              "textContent": "={{$json.relativePath}}"
            },
            {
              "key": "MagicLink|url",
              "url": "={{$json.magicLink}}"
            }
          ]
        }
      },
      "name": "Create Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1150, 100]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "update",
        "pageId": "={{$json.pageId}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{$json.filename}}"
            },
            {
              "key": "MagicLink|url",
              "url": "={{$json.magicLink}}"
            }
          ]
        }
      },
      "name": "Update Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1150, 300]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "archive",
        "pageId": "={{$json.pageId}}"
      },
      "name": "Archive Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1150, 500]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Notion Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Local Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Pages": {
      "main": [
        [
          {
            "node": "Compare Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Local Files": {
      "main": [
        [
          {
            "node": "Compare Logic",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Logic": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Create Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}